<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         verbose="true"
         colors="true"
         bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="all">
            <directory>tests/Divergence</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
        </whitelist>
    </filter>
    <php>
        <const name="PHPUNIT_TESTSUITE" value="true"/>
    </php>
</phpunit>