<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" cacheDirectory=".phpunit.cache" colors="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="https://schema.phpunit.de/11.5/phpunit.xsd">
  <testsuites>
    <testsuite name="tests-mysql">
      <directory>tests/Divergence</directory>
    </testsuite>
    <!--<testsuite name="tests-sqlite-memory">
      <file>tests/DivergenceSQLite/SQLiteSuiteLoader.php</file>
    </testsuite>-->
  </testsuites>
  <source>
    <include>
      <directory>./src</directory>
    </include>
    <exclude>
      <directory>./src/App</directory>
      <directory>./public</directory>
      <directory>./vendor</directory>
      <directory>./tests</directory>
    </exclude>
  </source>
</phpunit>
